extends ../layout
block content 
  .container.my-md-3
    each cat in categories
      .card.my-md-3
        .card-header
          h3 #{cat.name}
        .card-body
          if cat.movies && cat.movies.length > 0
            .row.justify-content-around
              each item in cat.movies 
                .col-md-3
                  .thumbnail
                    a(href="/movie/"+ item._id)
                      img.poster(src=item.poster, alt="#{item.title}")
                    .caption
                      h4 #{item.title}
                      p: a.btn.btn-block.btn-primary(href="/movie/#{item._id}",role="button") 观看预告片

     